
{% extends "layout.html" %}
{% block content %}
  <body id="index">
      <div id="name_variable">
        {% if name %}
          <h1>Hello {{name}}!</h1>
        {% else %}
          <h1>Hello!</h1>
        {% endif %}
      </div>
      <h2>Is it us you're looking for?</h2>
      <p>Do you agree that {{random_quote}}? Are you committed to making small, daily changes to bring about the change our planet desperately needs? You're in the right place.</p>
      <p><a href="contact.html">Join our sustainability community for tips, advice and the latest in UK environmental news.</a></p>


{% endblock %}
